/*
WAToolkit
Author: Cristian Perez <http://www.cpr.name>
License: GNU GPLv3
*/


.menu-item-watoolkit
{
    margin-right: 16px !important;
}

.icon-watoolkit
{
    background-image: url(chrome-extension://__MSG_@@extension_id__/IconMenuItem128.png) !important;
    background-position: 3px 3px !important;
    background-size: 18px 18px !important;
}
