/*
WAToolkit
Author: Cristian Perez <http://www.cpr.name>
License: GNU GPLv3
*/


.menu-watoolkit
{
    margin-right: 10px !important;
    padding: 8px !important;
}

.icon-watoolkit
{
    width: 24px !important;
    height: 24px !important;
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconMenuItem24.png) !important;
    background-position: 3px 3px !important;
    background-size: 18px 18px !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
}

.drop-theme-watoolkit.drop-element
{
    z-index: 200 !important;
}

.checkbox-watoolkit
{
    position: relative !important;
    float: left !important;
    width: 18px !important;
    height: 18px !important;
    margin-left: 1px !important;
    margin-right: 7px !important;
    top: -1px !important;

    display:inline !important;
}

.checkbox-watoolkit.checked
{
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/checkboxChecked.png) !important;
}

.checkbox-watoolkit.unchecked
{
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/checkboxUnchecked.png) !important;
}

.watoolkit-options-container
{
    background-color: #fff !important;
    padding: 9px 0 !important;
    font-family: Roboto, sans-serif !important;
    font-size: 14.5px !important;
    color: #444 !important;
    max-width: 500px !important;
    border-radius: 3px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16) !important;
}

.watoolkit-options-title
{
    height: 50px !important;
    padding: 12.5px 24px 0 24px !important;
    font-size: 20px !important;
}

.watoolkit-options-item
{
    padding: 12.5px 24px !important;
    cursor: pointer !important;
}

.watoolkit-options-item:hover
{ 
    background-color: #f4f4f4 !important;
}

.watoolkit-rate
{
    color: #cc181e !important;
}

.watoolkit-rate-heart
{
    position: relative !important;
    top: -3px !important;
    float: left !important;
    width: 15px !important;
    margin-right: 10px !important;
    font-size: 20px !important;
}

.watoolkit-options-description
{
    padding-top: 10px !important;
    padding-left: 25px !important;
    font-size: 12px !important;
    opacity: 0.8 !important;
}
